{% extends "base_generic.html" %}
{% load template_filters %}
{% load static %}
{% block content %}
<div>
    <div class="list-group">
        {% if products %}
        <div class="list-group-item no-border" style="border-bottom: solid 1px rgba(0,0,0,.125)!important">
            <div class="d-flex row align-items-center justify-content-end">
                <div class=" col-sm-4 col-md-2">
                    <select onchange="this.form.submit()" class="form-control" id="sort_products"
                            name="sort_products">
                        {% for name, value in sorting_values %}
                        {% if sort_parameter == value %}
                        <option value="{{ value }}" selected>{{ name }}</option>
                        {% else %}
                        <option value="{{ value }}">{{ name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% for product in products %}
        <div id="product-listed" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex row">
                <div class="col-12 col-md-1 offset-lg-1 p-2 align-self-center textcenter">
                    <a href="/products/{{ product.id }}">
                        <img class="img-fluid img-thumbnail" name="product-img" width="100%"
                             src="{{ product.image }}" alt="No image."/>
                    </a>
                </div>
                <div class="col-12 col-md-9 offset-md-1 offset-lg-0 p-2 w-100">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="/products/{{ product.id }}">
                            <h5 id="product-name" class="mb-1">{{ product.name }}</h5>
                        </a>
                        {% if product.price %}
                        <small class="text-muted p-1">
                            ${{ product.price }}
                        </small>
                        {% else %}
                        <small class="text-muted error-red p-1">
                            N/A
                        </small>
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ product.brand_name }}</small>
                    <p class="mb-1">{{ product.description|description_truncate }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container" style="margin-top:5rem">
            <center>
                <img src="{% static 'images/search_error.jpg' %}" width="280rem" height="300rem">
                <br/>
                <p><b>Sorry, but we couldn't find the products you were looking for.</b></p>
            </center>
        </div>
        {% endif %}
    </div>
    {% if products.has_other_pages %}
    <nav class="paginator-nav">
        <ul class="pagination justify-content-center">
            {% with total_num_pages=products.paginator.num_pages current_page=products.number %}

            {% if current_page == 1 %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ 1 }}&search-products-bar={{ search_parameter }}">&laquo;</a>
            </li>
            {% endif %}
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ products.previous_page_number }}&search-products-bar={{ search_parameter }}">&lsaquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&lsaquo;</span>
            </li>
            {% endif %}

            {% if current_page == 1 %}
            <li class="page-item active">
                <span class="page-link">1 <span class="sr-only">(current)</span></span>
            </li>
            {% if total_num_pages != 1 %}
            {% add total_num_pages 1 as inc_total_1 %}
            {% min 6 inc_total_1 as end_limit %}
            {% range 2 end_limit as page_range %}
            {% for page in page_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}&search-products-bar={{ search_parameter }}">{{ page }}</a>
            </li>
            {% endfor %}
            {% endif %}
            {% elif current_page == total_num_pages %}
            {% add total_num_pages -4 as sub_total_4 %}
            {% max 1 sub_total_4 as start_limit %}
            {% range start_limit total_num_pages as page_range %}
            {% for page in page_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}&search-products-bar={{ search_parameter }}">{{ page }}</a>
            </li>
            {% endfor %}
            <li class="page-item active">
                <span class="page-link">{{ total_num_pages }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            {% generate_page_range current_page 5 as page_range %}
            {% for page in page_range %}
            {% if page == current_page %}
            <li class="page-item active">
                <span class="page-link">{{ page }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}&search-products-bar={{ search_parameter }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ products.next_page_number }}&search-products-bar={{ search_parameter }}">&rsaquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&rsaquo;</span>
            </li>
            {% endif %}
            {% if current_page == total_num_pages %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ total_num_pages }}&search-products-bar={{ search_parameter }}">&raquo;</a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}