{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9 col-md-5">
            <img class="card-img-top mt-2" src="{{ product.image }}" alt="No image.">
        </div>
        <div class="col-12 col-md-7">
            <div class="card-body mt-md-2 mt-lg-4">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
            </div>
        </div>
    </div>

    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ingredients:</li>
            <li class="list-group-item">
                <div id="carouselExampleControls" class="carousel slide row" data-ride="carousel">
                    <div class="col-2">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <div class="carousel-inner col-8">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/organic.svg' %}" alt="Organic"><br>
                                    <small>Organic</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/vegan.svg' %}" alt="Vegan"><br>
                                    <small>Vegan</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/vegetarian.svg' %}" alt="Vegetarian"><br>
                                    <small>Vegetarian</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/kosher.svg' %}" alt="Kosher"><br>
                                    <small>Kosher</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/gluten-free.svg' %}" alt="Gluten free"><br>
                                    <small>Gluten free</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/dairyfree.svg' %}" alt="Dairy free"><br>
                                    <small>Dairy free</small>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/lowfat.svg' %}" alt="Low fat"><br>
                                    <small>Low fat</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/sugarfree.svg' %}" alt="Sugar free"><br>
                                    <small>Sugar free</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/keto.svg' %}" alt="Ketogenic"><br>
                                    <small>Ketogenic</small>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2" align="center">
                                    <img src="{% static 'images/specialties/paleo.svg' %}" alt="Paleo"><br>
                                    <small>Paleo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Where to buy</a>
            <a href="#" class="card-link">Where to buy</a>
        </div>
    </div>
</div>
{% endblock %}